body {
    background: #fdfdfd;
    font-family: Helvetica, Arial, sans-serif;
}


@media (max-width: 920px) {
    #main {
        position: absolute;
        top: 0px;
        background: #fdfdfd;
        color: #222;
        width: calc(100% - 40px);
        left: 20px;
        z-index: 1;
        margin-bottom: 50px;
    }

    #contentslist {
        position: fixed;
        user-select: none;
        background-color: rgb(34, 34, 34, 0.5);
        background-color: #eee;
        padding: 10px 10px 10px 10px;
        margin: 0;
        top: 30px;
        right: 20px;
        color: #222;
        z-index: 2;
        width: 150px;
        display: none;
        border-radius: 5px;
    }

    #contentslist a {
        color: #222;
    }

    #contentslist div {
        margin: 0 0 5px 10px;
        color: #222;
    }

    #contentslist-open:checked~#contentslist {
        transition-duration: 1000ms;
        display: block;
    }

    #contentslist-open-button {
        position: fixed;
        top: 50px;
        right: 40px;
        width: 25px;
        height: 10px;
        border-bottom: 1px solid #222;
        border-top: 1px solid #222;
        cursor: pointer;
        z-index: 3;
    }
    #contentslist-open:checked~#contentslist-open-button {
        border: none;
    }
    #contentslist-open:checked~#contentslist-open-button::before, 
    #contentslist-open:checked~#contentslist-open-button::after{
        content: "";
        display: block;
        width: 100%;/*バツ線の長さ*/
        height: 1px;/*バツ線の太さ*/
        background: #222;
        transform: rotate(45deg);
        transform-origin:0% 50%;
        position: absolute;
        top: calc(14% - 5px);
        left: 14%;
    }
    
    #contentslist-open:checked~#contentslist-open-button::after{
        transform: rotate(-45deg);
        transform-origin:100% 50%;
        left: auto;
        right: 14%;
    }

    #contentslist-open-button:hover {
        opacity: 0.5;
    }

}

@media (min-width: 920px) {
    #main {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translate(-50%, 0);
        background: #fdfdfd;
        color: #222;
        width: 600px;
    }

    #contentslist {
        position: fixed;
        top: 40px;
        left: calc(50% - 490px);
        color: #222;
    }
    #contentslist-open-button {
        display: none;
    }
}

#contentslist-open {
    display: none;
}

ul {
    margin-left: -20px;
}

li {
    margin-bottom: 0.7em;
}


pre {
    /* width: calc(100% - 40px); */
    padding: 20px 20px 20px 20px;
    color: #fff;
    background: #444;
    border-radius: 10px;
    white-space: pre-wrap;
}
code {
    font-size: 100%;
}

h1 {
    color: #222;
    margin: 20px 0 10px 0;
}

h2 {
    color: #eee;
    margin: 50px 0 0px 0;
    padding: 3px 10px;
    background: #333;
}

h3 {
    color: #222;
    margin: 30px 0 10px 0;
    padding: 0 0 5px 0;
    border: none;
    border-bottom: 1px #222 solid;
}

h4 {
    color: #222;
    margin: 20px 0 0 0;
}

div {
    color: #222;
    margin: 0;
}

.box {
    margin: 10px 0 40px 0;
}

a {
    color: #222;
    text-decoration: none;
    word-break: break-all;
}

a:hover {
    opacity: 0.5;
}
highlight {
    display: inline;
    color:rgb(255, 187, 62);
}
.console {
    margin: 5px 0;
}